
{% extends 'base.html'%}

{% block body%}
<div class="container">

   <h2 class="lead"> Top Headlines</h2>
      <div class="row">
        {% for article in articles %}
		        <div class="col-md-5 border border-primary" style="margin: 10px;">
				        <div class="thumbnail">
				          <a href="{{article.url}}" target="_blank"><img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive img-thumbnail"></a>
						      <div class="caption">
						        <h5><a href="{{article.url}}" target="_blank">{{article.title |truncate(35)}}</a></h5>
						        <p>{{article.description}}</p>
						        <a href="{{article.url}}" target="_blank"> Read More</a>
	        
						      </div>
						      <div class="footer">
						        Published at: {{article.publishedAt}}
						      
						  	  </div>
	  				    </div>
			        </div>
			            
        {% endfor %}
    </div>
        
	
</div>


{%endblock%}